.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(168, 62, 62);
  color: #fff;
  font-size: 1.5rem;
}

.header__logo {
  padding: 1rem 2rem;
}

.header__logo--link {
  text-decoration: none;
  color: #fff;
}

.header__nav {
  display: flex;
}

.header__nav--list {
  list-style: none;
}

.header__nav--link {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #fff;
}
