// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.collection {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #222;
    // font-family: 'Ubuntu', sans-serif;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    height: 90vh;
    /* background-color:#CCC; */
    overflow-y: auto;
    float: left;
    position: relative;
    margin-left: -5px;
  }

  &__item {
    display: grid;
    max-height: 100px;
    grid-template-columns: 100px 1fr 2rem;
    background-color: #444;
    color: white;
    position: relative;
  }

  &__rank {
    position: absolute;
    top: 0;
    left: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    z-index: 100;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }

  &__image {
    height: 100px;
    width: 100px;

    &--box {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      box-shadow: inset 3px 3px 10px 0 #000000;
      top: 0;
      left: 0;
    }
  }

  &__center-grids {
    display: flex;
    grid-column: 2 / 3;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 0.2rem;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.2rem 0;
    margin: 0;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
  }

  &__ticker {
    font-size: 0.6rem;
    font-weight: 500;
    margin: 0;
    text-align: start;
  }

  &__desc {
    font-size: 0.7rem;
    text-align: start;
    overflow: hidden;
    height: 2rem;
  }

  &__fp-dv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__floor-price {
    display: flex;
    align-items: center;
    &--title {
      font-size: 0.6rem;
      color: rgb(231, 231, 19);
    }
    &--value {
      font-weight: 500;
      font-size: 0.6rem;
    }
  }

  &__daily-volume {
    display: flex;
    align-items: center;
    &--title {
      font-size: 0.6rem;
      color: rgb(231, 231, 19);
    }
    &--value {
      font-weight: 500;
      font-size: 0.6rem;
    }
    &--change {
      font-weight: 500;
      font-size: 0.6rem;
    }
  }

  &__stats {
    box-shadow: inset 3px 3px 10px 0 #000000;
    width: 60%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1rem;

    font-size: 0.7rem;
  }

  &__social {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
  }

  &__link {
    color: white;
  }

  &__link:hover {
    cursor: pointer;
    z-index: 10000;
  }

  &__link--deadrare {
    margin: 1rem;
  }

  &__link--deadrare:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }
}

.grid__items {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.elrond__logo {
  height: 0.8rem;
  width: 0.8rem;
}

#collection__titles {
  font-size: 0.6rem;
  color: rgb(231, 231, 19);
}

.green {
  color: rgb(0, 255, 0);
}

.red {
  color: rgb(255, 47, 47);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
