.Ccard {
  perspective: 150rem;
  position: relative;
  width: 20rem;
  height: 30rem;
  background-color: #111;
  margin: 2rem;
  &__side {
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    min-height: min-content;
    overflow: hidden;

    &--front {
      background-color: #debd04;
      box-shadow: inset 0 0 5rem 4rem rgba(0, 0, 0, 0.15);
      height: 30rem;
    }

    &--back {
      background-color: #debd04;
      transform: rotateY(180deg);

      height: 30rem;

      display: flex;
      flex-direction: column;
      padding: 0.3rem;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__number {
    margin: 5rem auto;
    text-align: center;

    &--num {
      font-size: 2rem;
      margin: 1rem auto;
    }

    &--rank {
      font-size: 1rem;
      margin: 2rem auto;
      margin-bottom: 3rem;
      text-align: center !important;
    }
  }

  &__header {
    color: black;
    text-align: center;
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  &__attribute {
    height: 100%;
    padding: 1rem;
    justify-content: center;
  }

  &__details {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.2rem;

    &--header {
      color: black;
      text-align: center;
      display: block;
      font-size: 1rem;
      margin-top: 0.3rem;
      margin-bottom: 0rem;
    }
  }

  &__img {
    width: 100%;
    border-bottom: 2px solid black;
  }

  &__link {
    @media (max-width: 750px) {
      grid-column: 2 / 3;
      height: min-content;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: black;
  }

  &__link:hover {
    cursor: pointer;
  }
}

.card {
  background-color: #111;
}
