.collections {
  height: 100vh;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 15vh;

  &__shells {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }
}