.home {
  color: white;
  height: 100vh;
  animation: leftToRight 240s linear infinite;
  background-repeat: repeat;
  background-size: cover;
}



.cta__btn {
  margin-top: 5rem;
}

.cta__link:link,
.cta__link:visited {
  display: inline-block;
  border: none;
  background: linear-gradient(to right bottom, #fdf11e, #ac8d04);
  padding: 1.5rem 3rem;
  font-family: chinese-rocks, sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 1.9rem;
  cursor: pointer;
}

.cta__link:hover {
  cursor: pointer;
}