.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 190rem;
    position: fixed;
    z-index: 100;
}

.logo {

    &__box {
        margin: 1.5rem 2rem;
        z-index: 1000;
    }

    &__image {
        height: 7rem;
        width: 14rem;
        transition: all .2s ease-in-out;

        &:hover {
            height: 7.1rem;
            width: 14.2rem;
        }
    }

    &__link {
        width: 100%;
    }
}

.nav {
    display: flex;
    margin-left: auto;

    @media(max-width: 1200px) {
        display: none;
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.6rem;
        display: block;
        height: 100%;
        padding: 1.5rem 2rem;
        transition: all .2s;
        background-image: linear-gradient(to right, #FDF11E, #DEB700);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__link:hover,
    &__link:active {
        cursor: pointer;
        font-size: 2rem;
        transform: translateY(3px);
    }
}